fastapi==0.110.0
uvicorn==0.27.1

numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
joblib==1.4.0

requests==2.31.0
python-dotenv==1.0.1

SQLAlchemy==2.0.29
psycopg2-binary==2.9.9

streamlit==1.33.0
streamlit-autorefresh==1.0.1

plotly==5.21.0

python-whois==0.8.0
tldextract==5.1.2